.padding {
padding-top: 10vh;
};

.nav-1{
    padding-bottom: 15vh;
};

.loris {
    font-family: 'Rock 3D', cursive;
    font-weight: 800;
}

#loris {
    font-family: 'Rock 3D', cursive; 
    font-weight: 800;
}

body {
    background-image: url("https://f4.bcbits.com/img/a2045110298_10.jpg");
    background-color: #cccccc4f;
  }

  .int {
   width: 350px;
   height: 350px;
   padding: 4px;
  }

  .albums {
      padding: 15px;
      color: rgb(179, 178, 178);
      width: 43%;
      margin: auto;
  }

  @media only screen and (max-width: 1000px) {
    .albums {
        padding: 15px;
        color: rgb(179, 178, 178);
        width: 100%;
    }}

  .btn-1234 {
      opacity: 1;
       transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
      border: 0px;
  }

  .btn-1234 :hover {
      opacity: .65;
  }

  .bcamp {
      align-self: center;
      width: 100%;
  }